<!-- your html code here -->
<div class="jumbotron">
    <div class="container2">
        <div class="row">
            <div class="col-md-8" style="">
                <span style="font-size: 45px; font-weight: bold; white-space: nowrap;">This Second Heading</span>&nbsp;<span style="font-size: 45px; font-weight: bold; white-space:    nowrap; color: gray;">is Pretty Cool Too</span>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h4>
            </div>
            <div class="col-md-7">
                <img style="height: 300px;" src="../website/assets/img/2.jpg" alt="..." class="rounded-circle">
            </div>
        </div>
      </div>
</div>